.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    gap: 2.5rem;
}
#portfolio > h2 {
    color: rgb(71, 123, 77);
  
    font-weight: bold;
}
.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    
    overflow: hidden;
}
.portfolio__item-btn {
    width: max-content;
    display: inline-block;
    background-color: white;
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid grey;
    transition: var(--transition);
}
.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}
.portfolio__item-icon {
    color: var(--color-bg-variant);
    font-size: 50px;

transition: var(--transition);
    margin-top: 5px;
}
.portfolio__item-icon:hover {
    transform:rotate(25deg);
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container{
    grid-template-columns: 1fr;
    gap: 1rem;
}
}
